html {
  background-color: rgb(39, 39, 39);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header {
  width: 100%;
  height: 60px;
  background-color: white;
  animation-name: down;
  animation-duration: 1s;
}

.descr {
  font-family: Inter, sans-serif;
  margin-left: 10px;
  font-size: 30px;
  margin-top: 20px;
}

h1 {
  color: white;
  font-family: Inter, sans-serif;
  margin-left: 10px;
  font-weight: 300;
  animation-name: txt;
  animation-duration: 1s;
}

.p {
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 1;
  margin-left: 10px;
  white-space: pre-line;
  animation-name: txt;
  animation-duration: 1s;
}

hr {
  width: 100%;
  border: none;
  background: linear-gradient(to right, white, transparent);
  height: 2px;
  animation-name: txt;
  animation-duration: 1s;
}

input {
  border: 1px white solid;
  background: none;
  color: white;
  font-family: Inter, sans-serif;
  width: fit-content;
  margin-left: 10px;
  font-size: 18px;
  text-align: center;
  border-radius: 50px;
  animation-name: txt;
  animation-duration: 1s;
}

@keyframes down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes txt {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
